/*----------- SETTINGS ----------*/
:root {
  font-size: 50%;
  --font-poppins: 'Poppins', sans-serif;
  --font-oswald: 'Oswald',arial,helvetica,sans-serif;
  --color-background: #ffffff;
  --color-white: #ffffff;
  --color-clean: #e8e8e8;
  --color-gray: #999999;
  --color-dark: #a9a9a9;
  --color-dark-gray: #333333;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  border: none;
  text-decoration: none;
}
*, ::after, ::before {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box; /* Safari and Chrome */
  -moz-box-sizing: border-box; /* Firefox */
  -ms-box-sizing: border-box; /* IE 9 */
  -o-box-sizing: border-box; /* Opera */
  box-sizing: border-box;
}
::after, ::before {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.15);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}


body,
input,
button,
textarea {
  font: 500 1.6rem var(--font-poppins);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}



body {
  background: var(--color-background);
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  /* overflow: hidden; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, #root {
  height: 100%;
}

html, body {
  overflow: hidden;
}


.owl-carousel,.owl-carousel .owl-item { -webkit-tap-highlight-color: transparent; position: relative; }
.owl-carousel { display: none; width: 100%; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; touch-action: manipulation; -moz-backface-visibility: hidden; display: flex; width: auto !IMPORTANT; }
@media screen and (min-width: 980px) {
  section .owl-carousel .owl-stage-outer {
      margin: initial !IMPORTANT;
  }
}
.owl-carousel .owl-stage:after { content:"."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; margin: 0 auto; -webkit-transform: translate3d(0,0,0); }
.owl-carousel .owl-item,.owl-carousel .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); }
.owl-carousel .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; }
.owl-carousel .owl-item img { display: block; }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none; }
.no-js .owl-carousel, .owl-carousel.owl-loaded { display: flex; }
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { cursor: pointer; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot { background: 0 0; color: inherit; border:none; padding: 0!important; font: inherit; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel.owl-refresh .owl-item { visibility: hidden; }
.owl-carousel.owl-drag .owl-item { -ms-touch-action: pan-y; touch-action: pan-y; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.owl-carousel .animated { animation-duration: 1s; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { animation-name: fadeOut; }
@keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
.owl-height { transition: height .5s ease-in-out; }



#root .spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 56px;
  height: 100%;
}

#root .spinner > div {
  width: 12px;
  height: 12px;
  background-color: #c61e10;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: treo-bouncedelay 1s infinite ease-in-out both;
  animation: treo-bouncedelay 1s infinite ease-in-out both;
}

#root .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#root .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}



[role="modal"] {
  z-index: 100001;
}

[role="edit"] {
  z-index: 100101;
}

[role="modal"], [role="edit"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  outline: 0;
}

[role="modal"]::after, [role="edit"]::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.push-alert {
  position: fixed;
  top: -70px;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  z-index: 1000001;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}
.push-alert p {
  padding: 1.6rem 2rem;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-weight: bold;
  border-radius: 3px;
  float: left;
}


@-webkit-keyframes treo-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0)
  }
  40% {
      -webkit-transform: scale(1.0)
  }
}

@keyframes treo-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
}

@keyframes changewidth{0%{left:-100%;opacity:0}10%{left:-100%;opacity:.2}25%{left:100%;opacity:.2}90%{opacity:0;left:100%}100%{left:-100%;opacity:0}}

@-webkit-keyframes headShake{0%{-webkit-transform: translateX(0);transform: translateX(0);}6.5%{-webkit-transform: translateX(-1px);transform: translateX(-1px)}18.5%{-webkit-transform: translateX(2px);transform: translateX(2px);}31.5%{-webkit-transform: translateX(-3px);transform: translateX(-2px);}43.5%{-webkit-transform: translateX(1px);transform: translateX(1px);}50%{-webkit-transform: translateX(0);transform: translateX(0);}}
@keyframes headShake{0%{-webkit-transform: translateX(0);transform: translateX(0);}6.5%{-webkit-transform: translateX(-1px);transform: translateX(-1px);}18.5%{-webkit-transform: translateX(2px);transform: translateX(2px);}31.5%{-webkit-transform: translateX(-3px);transform: translateX(-2px);}43.5%{-webkit-transform: translateX(1px);transform: translateX(1px);}50%{-webkit-transform: translateX(0);transform: translateX(0);}}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    -webkit-transform: scale(0.5); /* Safari and Chrome */
    -moz-transform: scale(0.5); /* Firefox */
    -ms-transform: scale(0.5); /* IE 9 */
    -o-transform: scale(0.5); /* Opera */
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}
